include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include postzaviago *.css
recursive-include postzaviago *.csv
recursive-include postzaviago *.html
recursive-include postzaviago *.ico
recursive-include postzaviago *.js
recursive-include postzaviago *.json
recursive-include postzaviago *.md
recursive-include postzaviago *.png
recursive-include postzaviago *.py
recursive-include postzaviago *.svg
recursive-include postzaviago *.txt
recursive-exclude postzaviago *.pyc