include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include poszaviago *.css
recursive-include poszaviago *.csv
recursive-include poszaviago *.html
recursive-include poszaviago *.ico
recursive-include poszaviago *.js
recursive-include poszaviago *.json
recursive-include poszaviago *.md
recursive-include poszaviago *.png
recursive-include poszaviago *.py
recursive-include poszaviago *.svg
recursive-include poszaviago *.txt
recursive-exclude poszaviago *.pyc
